.vc_row .vc_row-flex {
	display:   flex;
	flex-wrap: wrap;

	.vc_column_container {
		display: flex;
		.vc_column-inner {
			display:                flex;
			flex-grow:              1;
			-webkit-flex-grow:      1;
			-ms-flex-positive:      1;
			-webkit-flex-direction: column;
			-ms-flex-direction:     column;
			flex-direction:         column;
		}
	}
}