.os-call-to-action {
	font-size        : 20px;
	font-weight      : 400;
	text-align       : center;
	background-color : @primary_color;
	color            : #FFFFFF;
	padding: 52px 15px;

	.__link {
		&:hover{
			color: inherit;
		}
		color: inherit;
		border-bottom: 1px solid;
		line-height : 1;
		display : inline-block;
	}
}