.vc_progress_bar.wpb_content_element{
	padding-bottom : 40px;
	.wpb_progress_bar_heading{
		font-size : 18px;
		font-weight : 500;
		margin-bottom : 35px;
	}
	.vc_general.vc_single_bar{
		background-color : transparent;
		box-shadow: none;
		padding-bottom : 10px;
		.vc_label{
			font-size : 13px;
			font-weight : 600; 
			padding: 0;
			margin-bottom : 15px;
			line-height : 1.2;
			.vc_label_units{
				float : right;
			}
		}
		.vc_bar{
			position : relative;
			height: 10px;
			margin-bottom : 15px;
			border-radius : 0;
			background-color : @primary_color;
		}
	}

}
